.page-template-blog-page {
  .blog-posts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    .blog-card {
      flex: 0 0 46.8rem;
      max-width: 46.8rem;
      width: 46.8rem;
      height: inherit;
      align-self: stretch;
      &:hover {
        .blog-card__image {
          img {
            transform: scale(1.1);
          }
        }
      }
      &__title {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 1.9rem;
      }
      &__image {
        width: 100%;
        height: 28.6rem;
        margin-bottom: 4.5rem;
        overflow: hidden;
        @include borderRadius(1rem);
        img {
          @include fullSizeImg(cover);
        }
      }
      &__excerpt {
        font-size: 1.8rem;
        line-height: 1.33;
        margin-bottom: auto;
        color: $primary;
      }
    }
  }
}
