body.home {
  .intro-section {
    padding: 7.9rem 1.5rem 10rem 1.5rem;
    text-align: center;
    .section-title {
      margin-bottom: 7.7rem;
    }
    .section-description {
      max-width: 122.8rem;
      margin: 0 auto 9rem auto;
      p {
        font-size: 2rem;
        &:not(:last-of-type) {
          margin-bottom: 3.5rem;
        }
      }
    }
  }
  .products-section {
    max-width: 127.2rem;
    margin: 0 auto 9.8rem auto;
    .section-title {
      margin-bottom: 6.8rem;
    }
    .posts-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .single-product {
        flex: 0 0 38.2rem;
        max-width: 38.2rem;
        width: 38.2rem;
      }
    }
    &-opt-two {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      background: #ebf1fb;
      max-width: 100%;
      padding: 9.5rem 28.2rem 8.5rem 28.2rem;
      .section-title {
        flex: 0 0 100%;
        width: 100%;
      }
      .posts-wrapper {
        flex: 0 0 40rem;
        width: 40rem;
        max-width: 40rem;
        .single-product {
          display: flex;
          align-items: center;
          align-content: center;
          flex-wrap: wrap;
          flex: 0 0 100%;
          max-width: 100%;
          width: 100%;
          &:not(:last-of-type) {
            margin-bottom: 5.5rem;
          }
          &:hover {
            @include transit(transform 0.25s ease-in);
            @include transform(scale(1.05));
          }
          .img-wrapper {
            width: 8.3rem;
            height: 8.3rem;
            flex: 0 0 8.3rem;
            @include borderRadius(50%);
            background: #2b478b;
            padding: 1.3rem;
            position: relative;
            z-index: 1;
            img {
              @include fullSizeImg(contain);
            }
          }
          .product-title {
            line-height: 1;
            background: $accent;
            padding: 2.6rem 3.6rem;
            @include borderRadius(0px 0.5rem 6rem 0px);
            font-size: 2.2rem;
            color: #fff;
            margin-left: -2.8rem;
            width: calc(100% - 8.3rem);
          }
        }
      }
      .products-section__image-wrapper {
        flex: 0 0 72.7rem;
        max-width: 72.7rem;
        width: 72.7rem;
        img {
          @include fullSizeImg(contain);
        }
      }
    }
  }
  .industries-section {
    margin-bottom: 10rem;

    .section-title {
      margin-bottom: 4.8rem;
    }
    .swiper-industries {
      // width: 127.2rem;
      width: 100%;
      margin: 0 auto;
      .swiper-wrapper {
        margin-bottom: 10rem;
        .swiper-slide {
          padding: 0 33.8rem;
        }
      }
      .swiper-pagination {
        .swiper-pagination-bullet {
          width: 1.3rem;
          height: 1.3rem;
          background: none;
          border: 0.2rem solid #14248a;
          opacity: 1;
          margin: 0;
          &:not(:last-of-type) {
            margin-right: 0.57rem;
          }
          &:hover {
            background: rgba(20, 36, 138, 0.7);
          }
          &-active {
            background: #14248a;
          }
        }
      }
    }
  }
  .our-blogs-section {
    margin-bottom: 15rem;
    .section-title {
      margin-bottom: 7.3rem;
    }
    .posts-wrapper {
      width: 115.4rem;
      display: flex;
      align-items: stretch;
      align-content: stretch;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 auto;
      .single-blog {
        flex: 0 0 46.8rem;
        width: 46.8rem;
        height: inherit;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-end;
        // .blog-card__title {
        // min-height: 7.378rem;
        // }
      }
    }
  }
}
