.cta {
  &-footer {
    background: $accent;
    padding: 5.7rem 32.4rem;
    p {
      color: #fff;
      font-size: 4rem;
      font-weight: 600;
      line-height: 1.25;
      font-family: $ruda;
    }
  }
}
