.tdcomm-full-width-content-block {
  padding: calc(8.4rem + var(--extraSize)) 32.4rem
    calc(8.4rem + var(--extraSize)) 32.4rem;
  background: var(--bgImg);
  color: #fff;
  margin: 0 -32.4rem;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: var(--leftPost) var(--topPos);
  &.remove-b-spacing {
    margin-bottom: -8.5rem;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--overlayColor);
    z-index: 0;
  }
  .inner-blocks {
    z-index: 1;
    position: relative;
    p,
    li {
      font-size: 1.8rem;
    }
  }
}
