footer.site-footer {
  background: $primary;
  .site-info {
    padding: 8.4rem 2.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .col {
      flex: 0 0 auto;
      max-width: 25%;
      @include for-tablet {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        margin-bottom: 3.5rem;
        text-align: center;
      }
      .logo-wrapper {
        width: 17.7rem;
        height: 4rem;
        margin-top: 2.2rem;
        @include for-tablet {
          width: 100%;
        }
      }
      &:not(:last-of-type) {
        margin-right: 10rem;
        @include for-tablet {
          margin-right: 0;
        }
      }
      .col-label {
        margin-bottom: 3.5rem;
        font-size: 1.8rem;
        font-family: $hebo;
        color: #fff;
        font-weight: 700;
        position: relative;
        display: inline-block;
        &::after {
          position: absolute;
          content: "";
          left: 0;
          bottom: -0.7rem;
          width: 100%;
          height: 0.2rem;
          background: $lblue;
        }
      }
      ul {
        &.footer-menu {
          li {
            a {
              color: #fff;
              &:hover {
                color: $lblue;
              }
            }
            &.large-label {
              &:not(:last-of-type) {
                margin-bottom: 3.5rem;
                @include for-tablet {
                  margin-bottom: 1.5rem;
                }
              }
              a {
                font-size: 1.8rem;
                font-family: $hebo;
                font-weight: 700;
                position: relative;
                &::after {
                  position: absolute;
                  content: "";
                  left: 0;
                  bottom: -0.7rem;
                  width: 100%;
                  height: 0.2rem;
                  background: $lblue;
                }
              }
            }
            &.small-label {
              &:not(:last-of-type) {
                margin-bottom: 1.5rem;
              }
              a {
                font-size: 1.6rem;
                font-family: $notoSans;
              }
            }
          }
        }
      }
      .socials {
        display: flex;
        flex-wrap: wrap;
        max-width: 26rem;
        @include for-tablet {
          max-width: 100%;
          justify-content: center;
        }
        li {
          margin: 0 1.7rem 1.1rem 0;
          @include for-tablet {
            margin: 0 1.7rem 1.1rem 0;
            &:last-of-type {
              margin-right: 0;
            }
          }
          a {
            display: block;
            width: 4.75rem;
            height: 4.4rem;
            &:hover {
              @include transform(scale(1.1));
            }
            img {
              @include fullSizeImg(contain);
            }
          }
        }
      }
    }
  }
  .copy-bar {
    background: $secondary;
    padding: 3rem 0;
    border-top: 0.2rem solid $accent;
    p {
      font-size: 1.2rem;
      color: #adadad;
      font-family: $hebo;
      b {
        color: #fff;
        font-weight: 700;
      }
    }
  }
}
