.wp-block-acf-tdcomm-full-width-content {
  max-width: 100%;
  .tdcomm-full-width-content-block {
    padding: 76px 324px 42px 324px;
    background: var(--bgImg);
    color: #fff;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: var(--leftPost) var(--topPos);
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: var(--overlayColor);
      z-index: 0;
    }
    .inner-blocks {
      z-index: 1;
      position: relative;
    }
  }
}
